*{
    margin: 0;
}

body
{
    background-color: #242AB1;
}

section
{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10%;
    width: 100%;
}

#div-section-in
{
    display: flex;
    align-items: center;
    width: 95%;
}

#div-img-bottom-section
{
    width: 100%;
}


@font-face {
    font-family: Inter-ExtraBold;
    src: url(../fonts/Inter/static/Inter-ExtraBold.ttf);
}

#form-title
{
    width: 389px;
    height: 24px;
    font-family: Inter-ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

#div-form
{
    width: 50%;
}

form
{
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


input[type=text] {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 30px;
    border: none;
    background-color: #D9D9D9;
  }


label{
    width: 100%;
    height: 26px;
    font-family: Inter-ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
  }

#div-img-section
{
    display: flex;
    justify-content: center;
    width: 50%;
}

#img-section
{
    width: 70%;
}


input[type=submit]{
    background-color: rgba(217, 217, 217, 0.6);
    background-image: url(../images/sonic-ring.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    padding: 10px 16px;
    text-decoration: none;
    cursor: pointer;
    width: 66%;
    display: flex;
    justify-content: end;
    font-family: Inter-ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 15px;
  }